# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\vincent.chassot\OneDrive - HESSO\Cours_sem_5_2021\Pratique_developpement\Exercice3_bowling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
